@import "styles.css";
@import "modal.css";

/* Sticky footer setup */
html, body {
  height: var(--full-scale);
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: var(--vh-100);
}

/* main content area */
main {
  flex: 1;
  
  h1 {
    font-size: var(--font-size-header);
    margin: var(--spacing-xxxl) 0 var(--spacing-xxl);
    text-align: center;
    font-family: var(--header-font);
  }

  @media (min-width: 768px) {
    padding: 0 var(--spacing-5xl) var(--spacing-4xl);
  }

  @media (min-width: 1024px) {
    max-width: var(--max-main-width);
    margin: auto;
  }

  /* form fields */
  .field {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    margin-bottom: var(--spacing-xl);

    label {
      font-size: var(--font-size-md);
      font-weight: var(--font-semibold);
      font-family: var(--main-font);
      margin-bottom: var(--spacing-sm);
      color: var(--dark-text-color);
    }

    input {
      width: var(--full-scale);
      min-height: var(--touch-size);
      padding: var(--spacing-xs);
      border: var(--border-width-sm) solid transparent;
      border-radius: var(--border-radius-md);
      background: var(--input-bg);
      font-size: var(--font-size-md);
      font-family: var(--main-font);
      color: var(--dark-text-color);
      margin-bottom: 0;
    }

    small {
      font-size: var(--font-size-sm);
      color: var(--dark-text-color);
      margin-top: var(--spacing-xs);
      font-family: var(--main-font);
    }

    &.checkbox {
      flex-direction: row;
      align-items: center;

      input {
        width: var(--checkbox-size);
        height: var(--checkbox-size);
        padding: var(--new-touch-target);
        accent-color: var(--primary-color);
      }

      label {
        margin-left: var(--spacing-sm);
        font-size: var(--font-size-sm);
        height: var(--new-touch-target);
        align-content: center;
        font-family: var(--main-font);
        color: var(--dark-text-color);
      }
    }
  }

  /* login and signup links */
  .login-link,
  .signup-link {
    font-size: var(--font-size-md);
    text-align: center;
    margin-top: var(--spacing-xl);
    font-family: var(--main-font);

    a {
      color: var(--dark-text-color);
    }
  }
}

/* input and button focus */
input:focus,
button:focus {
  outline: var(--border-width-md) solid var(--focus-color);
  outline-offset: var(--border-width-md);
}

/* fieldset reset */
fieldset {
  border: none;
}

/* danger button */
.danger-button {
  width: var(--full-scale);
  justify-content: center;
  margin: var(--spacing-lg) 0;
  color: var(--error-text-color);
  background-color: var(--error-bg);
  cursor: pointer;
  padding: var(--spacing-xl) var(--spacing-xxxl);
  border-radius: var(--border-radius-md);
  border: var(--border-width-md) solid var(--error-text-color);
  font-family: var(--clickable-element-font);

  &:hover {
    background-color: var(--dark-background-color);
  }
}

form {
  margin: 0 auto;
  padding: 0 var(--spacing-xxl) var(--spacing-4xl);
  max-width: var(--form-max-width);

  @media (min-width: 1024px) {
    margin: auto;
    width: var(--form-max-width);
  }
}

#login-form,
#signup-form {
  padding: var(--spacing-4xl);
  h1 {
    margin-bottom: var(--spacing-xxxl);
  }
}

/* hidden class especially for accessibility */
.hidden {
  display: none;
}

/* -webkit override */

/* Remove autofill yellow background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 var(--shadow-px-3xl) var(--input-bg) inset !important;
  -webkit-text-fill-color: var(--white-text-color) !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* For other browsers */
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
  box-shadow: 0 0 0 var(--shadow-px-3xl) var(--input-bg) inset !important;
  color: var(--dark-text-color) !important;
  transition: background-color 5000s ease-in-out 0s;
}