@import "styles.css";

body > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--spacing-md) var(--spacing-xl);

  nav {
    ul {
      list-style: none;

      li {
         
        margin: var(--spacing-xl);
        color: var(--dark-text-color);

        a {
          text-decoration: none;
          color: var(--dark-text-color);
          font-size: var(--font-size-xl);
          font-weight: var(--font-semibold);
          font-family: var(--clickable-element-font);

          &:hover {
            color: var(--secondary-color);
          }
        }

        button:hover {
          color: var(--secondary-color);
          }
        }
      }
    }
  }

  a img {
    width: var(--logo-size);
    aspect-ratio: var(--aspec-ratio-3) / var(--aspec-ratio-1);
    object-fit: contain;
  }

#desktop-menu {
  display: none;
}

#burger-button,
#right-side-menu {
  display: block;
}

.logout-button,
#close-button,
#burger-button {
  cursor: pointer;
}

.logout-button:focus-visible,
#close-button:focus-visible,
#burger-button:focus-visible {
  outline: var(--border-width-md) solid var(--focus-color);
  outline-offset: var(--border-width-md);
  border-radius: var(--border-radius-md);
}

#close-button,
#burger-button,
.logout-button {
  background: none;
  border: none;
}

#right-side-menu {
  position: fixed;
  top: 0;
  right: var(--right-side-menu);
  width: var(--width-sm);
  height: var(--full-scale);
  background-color: var(--light-background-color);
  transition: right var(--trasnition-short) ease;
  display: flex;
  flex-direction: column;
  z-index: var(--z-index-1000);
}

#right-side-menu #close-button {
  align-self: flex-end;
  margin: var(--spacing-lg);
}

#right-side-menu ul {
  list-style: none;
  padding: 0;

}

#mobile-utility-not-logged-in ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: var(--border-width-sm) solid var(--tertiary-color);
  padding-bottom: var(--spacing-lg);
  padding-top: var(--spacing-lg);
}

#mobile-utility-not-logged-in li {
  text-align: center;
}

#mobile-utility-not-logged-in a {
  font-size: var(--font-size-md);
  font-weight: var(--font-semibold);
  text-align: center;
}

#mobile-main-navigation {
  border-bottom: var(--border-width-sm) solid var(--tertiary-color);
  
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    li {
      padding-top: var(--spacing-lg);
      padding-bottom: var(--spacing-lg);
    }
  }
}

#mobile-utility-logged-in {
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--spacing-lg);
  }
  
  li {
    text-align: center;
  }
  
  button {
    font-size: var(--font-size-md);
    font-weight: var(--font-semibold);
    text-align: center;
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--vw-100);
  height: var(--vh-100);
  background-color: rgba(0, 0, 0, var(--opacity-sm));
  z-index: calc(var(--z-index-1000) - var(--z-index-1));
  display: none;
}

#right-side-menu.open {
  right: 0;
}

#right-side-menu.open ~ #overlay {
  display: block;
}

@media (min-width: 768px) {

  #burger-button,
  #right-side-menu {
    display: none;
  }

  #desktop-menu {
    display: flex;
    flex: var(--flex-grow-1);
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-xl);

    #main-navigation {
      margin-left: var(--spacing-lg);
    }

    #main-navigation,
    #utility{
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  #main-navigation {
    ul {
      display: flex;
      gap: var(--spacing-md);

      a img {
        width: var(--logo-size);
        padding: var(--spacing-lg);
      }
    }
  }

  #overlay {
    display: none !important;
  }
}

#utility{
  margin-left: auto;

  ul {
    display: flex;
    gap: var(--spacing-md);
  }
}

#mobile-cart-section {
  border-bottom: var(--border-width-sm) solid var(--tertiary-color);
  padding-bottom: var(--spacing-lg);
}

#mobile-cart-section ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
}

#mobile-cart-section li {
  text-align: center;
  padding-top: var(--spacing-lg);
}

/* Button styling */
.btn {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  
  /* Typography */
  font-family: var(--clickable-element-font);
  font-weight: var(--font-semibold);
  font-size: var(--font-size-xl);
  
  /* Sizing & Shape */
  padding: var(--spacing-md) var(--spacing-xl);
  border-radius: var(--border-radius-md);
  
  /* Colors */
  background-color: var(--primary-color);
  color: var(--light-background-color);
  border: var(--border-width-md) solid var(--primary-color);
  
  /* Animation */
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.btn:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--light-background-color);
}

.btn-outline {
  background-color: transparent;
  color: var(--primary-color);
  border: var(--border-width-md) solid var(--primary-color);
}

.btn-outline:hover {
  background-color: var(--hover-color);
  border-color: var(--hover-color);
  color: var(--light-text-color);
}

/* Burgermenu mobile btn styling */
.mobile-btn {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  
  /* Typography */
  font-family: var(--clickable-element-font);
  font-weight: var(--font-semibold);
  font-size: var(--font-size-md);
  
  /* Sizing & Shape */
  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: var(--border-radius-md);
  
  /* Colors */
  color: var(--primary-color);
  border: var(--border-width-md) solid var(--primary-color);
}

/* Burgermenu mobile CTA btn styling */
.mobile-cta-btn {
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: fit-content;
  
  /* Typography */
  font-family: var(--clickable-element-font);
  font-weight: var(--font-semibold);
  font-size: var(--font-size-md);
  
  /* Sizing & Shape */
  padding: var(--spacing-md) var(--spacing-lg);
  border-radius: var(--border-radius-md);
  
  /* Colors */
  background-color: var(--primary-color);
  color: var(--light-background-color);
  border: var(--border-width-md) solid var(--primary-color);
}