@import "styles.css";

body > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--spacing-md) var(--spacing-xl);

  nav {
    ul {
      list-style: none;

      li {
         
        margin: 0 var(--spacing-xl);
        color: var(--dark-text-color);

        a {
          text-decoration: none;
          color: var(--dark-text-color);
          font-size: var(--font-size-xl);
          font-weight: var(--font-semibold);
          font-family: var(--clickable-element-font);

          &:hover {
            color: var(--secondary-color);
          }
        }

        button:hover {
          color: var(--secondary-color);
          }
        }
      }
    }
  }

  a img {
    width: var(--logo-size);
    aspect-ratio: var(--aspec-ratio-3) / var(--aspec-ratio-1);
    object-fit: contain;
  }


#desktop-menu {
  display: none;
}

#burger-button,
#right-side-menu {
  display: block;
}

.logout-button,
#close-button,
#burger-button {
  cursor: pointer;
}

.logout-button:focus-visible,
#close-button:focus-visible,
#burger-button:focus-visible {
  outline: var(--border-width-md) solid var(--focus-color);
  outline-offset: var(--border-width-md);
  border-radius: var(--border-radius-md);
}

#close-button,
#burger-button,
.logout-button {
  background: none;
  border: none;
}

#right-side-menu {
  position: fixed;
  top: 0;
  right: var(--right-side-menu);
  width: var(--width-sm);
  height: var(--full-scale);
  background-color: var(--light-background-color);
  transition: right var(--trasnition-short) ease;
  display: flex;
  flex-direction: column;
  z-index: var(--z-index-1000);
}

#right-side-menu #close-button {
  align-self: flex-end;
  margin: var(--spacing-lg);
}

#right-side-menu ul {
  list-style: none;
  padding: 0;

  a {
    display: flex;
  }

  a:last-child {
    padding: var(--spacing-lg) 0;
  }
}

#mobile-utility-not-logged-in ul,
#mobile-utility-logged-in ul {
  display: flex;
  border-bottom: var(--border-width-sm) solid var(--tertiary-color);
  padding-bottom: var(--spacing-lg);
}

#mobile-utility-not-logged-in li,
#mobile-utility-logged-in li {
  flex: var(--flex-grow-1);
  text-align: center;
}

#mobile-utility-not-logged-in a,
#mobile-utility-logged-in a,
#mobile-utility-logged-in button {
  padding: var(--spacing-lg) 0;
  font-size: var(--font-size-lg);
  font-weight: var(--font-semibold);
  text-align: center;
}

#mobile-main-navigation {
  ul {
    li:first-child {
      padding-top: var(--spacing-lg);
    }
  }
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--vw-100);
  height: var(--vh-100);
  background-color: rgba(0, 0, 0, var(--opacity-sm));
  z-index: calc(var(--z-index-1000) - var(--z-index-1));
  display: none;
}

#right-side-menu.open {
  right: 0;
}

#right-side-menu.open ~ #overlay {
  display: block;
}

@media (min-width: 768px) {

  #burger-button,
  #right-side-menu {
    display: none;
  }

  #desktop-menu {
    display: flex;
    flex: var(--flex-grow-1);
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-xl);

    #main-navigation {
      margin-left: var(--spacing-lg);
    }

    #main-navigation,
    #utility-not-logged-in,
    #utility-logged-in {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  #main-navigation {
    ul {
      display: flex;
      gap: var(--spacing-md);

      a img {
        width: var(--logo-size);
        padding: var(--spacing-lg);
      }
    }
  }

  #overlay {
    display: none !important;
  }
}

#utility-not-logged-in,
#utility-logged-in {
  margin-left: auto;

  ul {
    display: flex;
    gap: var(--spacing-md);
  }
}