@import "styles.css";

:root {
  --thumbnailDimension: 200px;
}

main {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--spacing-xxxl) var( --spacing-xl);
}

#product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--thumbnailDimension), 1fr));
  grid-auto-rows: auto;
  gap: var(--spacing-xxxl);

  header {
    grid-column: 1 / -1;
    text-align: center;
  }

  article {
    display: flex;
    flex-flow: column nowrap;
    gap: var( --spacing-sm);
    justify-self: center;
    align-items: center;
    max-width: var(--thumbnailDimension);
    color: var(--dark-text-color);

    img {
      width: var(--thumbnailDimension);
      height: var(--thumbnailDimension);
      border: var( --spacing-sm) solid var(--secondary-color);
      padding: var(--spacing-lg);
      object-fit: contain;
    }
    a {
      text-decoration: none;
      color: var(--dark-text-color);
    }
    h3 {
      height: var(--font-size-xl);
    }
    p {
      align-self: self-start;
    }
    .product-category {
      font-size: var(--font-size-md);
    }
  }
  article:hover {
    color: var(--tertiary-color);
  }
}