@import "styles.css";
@import "modal.css";

:root {
  --imgMaxWidth: var(--width-md);
}

body {
  display: flex;
  flex-direction: column;
  min-height: var(--vh-100); 
  margin: 0;
}

main {
  margin: var(--spacing-xl) var(--spacing-xl) 0; 
  height: var(--full-scale);
  flex-grow: 1;
}

#product-info {
  margin-top: var(--spacing-5xl);
  header,
  .product-attribute,
  #product-description,
  #cta,
  img {
    margin-bottom: var(--spacing-xl);
  }

  img {
    width: var(--full-scale);
    border-radius: var(--border-radius-lg);
  }
}

#cta {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  background-color: var(--tertiary-color);
  border: none;
  font-size: var( --font-size-md);
}

#cta:hover {
  background-color: var(--primary-color);
}

#cta img {
  filter: brightness(0) invert(1); 
  width: var(--image-icon-base-width); 
  height: auto;
  margin: 0;
  border-radius: 0;
}

@media (min-width: 600px) {
    main {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--spacing-xxl);
  }
  
  #product-info {
    display: grid;
    grid-template-columns: var(--imgMaxWidth) 1fr;
    grid-template-areas:
      "picture header"
      "picture ingredients"
      "picture description";
    column-gap: var(--spacing-xxxl);
  }

  #product-info header {
    grid-area: header;
  }
  
  #product-info img {
    grid-area: picture;
    max-width: var(--imgMaxWidth);
  }
  
  #product-info #product-ingredients {
    grid-area: ingredients;
  }
  
  #product-info #product-description {
    grid-area: description;
  }
}