@import "styles.css";

:root {
  --imgMaxWidth: 320px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
}

main {
  margin: 0 var(--spacing-xl);
  height: 100%; 
  flex-grow: 1;
}

footer {
  width: 100%;
}

@media (min-width: 600px) {
  main {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--spacing-xxl);
  }
}
#product-info {
  header,
  .product-attribute,
  #product-description,
  #cta,
  img {
    margin-bottom: 1rem;
  }

  img {
    width: 100%;
    border-radius: 1rem;
  }

#cta {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--tertiary-color);
  border: none;
}

#cta:hover {
  background-color: var(--primary-color);
}

#cta img {
  filter: brightness(0) invert(1); 
  width: 2rem; 
  height: auto;
  margin: 0;
  border-radius: 0;
}

  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: var(--imgMaxWidth) 1fr;
    grid-template-areas:
      "picture header"
      "picture ingredients"
      "picture description";
    column-gap: 2rem;

    header {
      grid-area: header;
    }
    img {
      grid-area: picture;
    }
    #product-ingredients {
      grid-area: ingredients;
    }
    #product-description {
      grid-area: description;
    }

    img {
      max-width: var(--imgMaxWidth);
    }
  }
}
