@import "variables.css";
@import "footer.css";
@import "navigation.css";
@import "forms.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    color: var(--dark-text-color);
    font-weight:var(--font-bolder);
}

p, span, a, li, div {
    font-family: var(--main-font);
    color: var(--dark-text-color);
}
