@import "variables.css";
@import "footer.css";
@import "navigation.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    color: var(--dark-text-color);
    font-weight:var(--font-bolder);
}

p, span, a, li, div {
    font-family: var(--main-font);
    color: var(--dark-text-color);
}
.hidden {
  display: none;
}

/* primary button */
.primary-button {
  width: auto;
  min-width: var(--width-s);
  max-width: var(--width-md);
  margin: 0 auto var(--spacing-lg);
  min-height: var(--touch-size);
  padding: var(--spacing-xs) var(--spacing-xl);
  border: var(--border-width-md) solid transparent;
  border-radius: var(--border-radius-md);
  background: var(--primary-color);
  color: var(--light-text-color);
  font-size: var(--font-size-md);
  font-weight: var(--font-bold);
  font-family: var(--clickable-element-font);
  text-align: center;
  cursor: pointer;
  display: block;

  &:hover {
    border-color: var(--hover-color);
    background-color: var(--hover-color);
    color: var(--light-text-color);
  }
}