@import "variables.css";
@import "footer.css";
@import "navigation.css";
@import "forms.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

p {
    font-family: var(--main-font);
}